*{
    margin: 0%;
    padding:0%;
}
.side{
    border:3px solid white;
    float: right;
    width: 50%;
    height: 809px;
    background-image: url(https://github.com/Mickeym2/hyella/blob/main/images/bulb.jpeg?raw=true);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;
}

.top{
    border: 3px solid white;
    width:50%;
    height: 400px;
    background-image: url(https://github.com/Mickeym2/hyella/blob/main/images/wall.jpg?raw=true);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;

}
.bottom{
    border: 3px solid white;
    width:50%;
    height:400px;
    background-image: url(https://raw.githubusercontent.com/Mickeym2/hyella-banner/main/images/think.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    object-fit: cover;

}
#top_bottom{
    display:flex;
    flex-direction: column;

}
.side_top .top_bottom{
    display: flex;
    flex-direction: row;

}
p{
    font-size: 30px;
    font-family:sans-serif;
    color: white;
    letter-spacing: 0.3rem;
    position: absolute;
    top: 100%;
    left: 75%;
  
    transform:translateX(-50%) translateY(-50%)
}
